<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title th:text="${title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" language="java">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static.css/style.css">
        <link rel="stylesheet" th:href="@{static.css/style.css}">
</head>

<body th:each="el : ${dataIndicators}" class="overbody">

<header th:insert="block/header :: header"></header>

<form method="get" id="sitedata" th:action="'/home/' + ${el.id}">

<div class="centralbody" >
    <div class="blok">
        <div class="blok2-1">
            <div class="text">тут динамический курс евро ЦБ</div>

        </div>
        <div class="blok2-2">
            <div class="text">тут динамический курс дол ЦБ</div>

        </div>
    </div>
    <div class="blok"> </div>
    <div class="blok"><h3>Стоимость материала</h3> </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее бочка, RUB</div>
            <div class="pole"><input type="text" name="priceBinderRUBbarrel" th:value="${el.priceBinderRUBbarrel}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
        <div class="blok2-2">
            <div class="text">Связующее бочка, EUR</div>
            <div class="pole"><input type="text" name="priceBinderEURObarrel" th:value="${el.priceBinderEURObarrel}" class="vvod"></div>
            <div class="textback">euro</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее бочка, USD</div>
            <div class="pole"><input type="text" name="priceBinderUSDbarrel" th:value="${el.priceBinderUSDbarrel}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее ведро, RUB</div>
            <div class="pole"><input type="text" name="priceBinderRUBbucket" th:value="${el.priceBinderRUBbucket}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
        <div class="blok2-2">
            <div class="text">Связующее ведро, EUR</div>
            <div class="pole"><input type="text" name="priceBinderEURObucket" th:value="${el.priceBinderEURObucket}" class="vvod"></div>
            <div class="textback">euro</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее ведро, USD</div>
            <div class="pole"><input type="text" name="priceBinderUSDbucket" th:value="${el.priceBinderUSDbucket}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Чёрная SBR крошка</div>
            <div class="pole"><input type="text" name="priceSBR" th:value="${el.priceSBR}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
    </div>
    <div class="blok">
        <div class="blok2-1">
            <div class="text">ЭПДМ крошка, средняя</div>
            <div class="pole"><input type="text" name="priceEPDM" th:value="${el.priceEPDM}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Растворитель</div>
            <div class="pole"><input type="text" name="priceSolven" th:value="${el.priceSolven}" class="vvod"></div>
            <div class="textback">руб/л</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Праймер (грунтовка)</div>
            <div class="pole"><input type="text" name="pricePrimer" th:value="${el.pricePrimer}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
    </div>
<!--дешевый клей для подложки-->
    <div class="blok"><h5>Cвязующее для подстилающих слоев</h5> </div>
    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее бочка, RUB</div>
            <div class="pole"><input type="text" name="priceBinderRUBbarrelBL" th:value="${el.priceBinderRUBbarrelBL}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
        <div class="blok2-2">
            <div class="text">Связующее бочка, EUR</div>
            <div class="pole"><input type="text" name="priceBinderEURObarrelBL" th:value="${el.priceBinderEURObarrelBL}" class="vvod"></div>
            <div class="textback">euro</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее бочка, USD</div>
            <div class="pole"><input type="text" name="priceBinderUSDbarrelBL" th:value="${el.priceBinderUSDbarrelBL}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее ведро, RUB</div>
            <div class="pole"><input type="text" name="priceBinderRUBbucketBL" th:value="${el.priceBinderRUBbucketBL}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
        <div class="blok2-2">
            <div class="text">Связующее ведро, EUR</div>
            <div class="pole"><input type="text" name="priceBinderEURObucketBL" th:value="${el.priceBinderEURObucketBL}" class="vvod"></div>
            <div class="textback">euro</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее ведро, USD</div>
            <div class="pole"><input type="text" name="priceBinderUSDbucketBL" th:value="${el.priceBinderUSDbucketBL}" class="vvod"></div>
            <div class="textback">руб/кг</div>
        </div>
    </div>

<!--    Расход материала-->
    <div class="blok"> </div>
    <div class="blok"> </div>
    <div class="blok"><h3>Расход материала на 10мм толщины покрытия</h3> </div>

        <div class="blok" >
            <div class="blok2-1">
                <div class="text">Расход праймера</div>
                <div class="pole"><input type="text" name="primerConsumptions" th:value="${el.primerConsumptions}" class="vvod"></div>
                <div class="textback">кг/м2</div>
            </div>
        </div>

        <div class="blok">
            <div class="blok2-1">
                <div class="text">Расход ЭПДМ крошки</div>
                <div class="pole"><input type="text" name="EPDMConsumption" th:value="${el.EPDMConsumption}" class="vvod"></div>
                <div class="textback">кг/м2</div>
            </div>
        </div>

        <div class="blok">
            <div class="blok2-1">
                <div class="text">Расход черной крошки</div>
                <div class="pole"><input type="text" name="SBRConsumption" th:value="${el.SBRConsumption}" class="vvod"></div>
                <div class="textback">кг/м2</div>
            </div>
        </div>

        <div class="blok">
            <div class="blok2-1">
                <div class="text">Расход связующего, верх</div>
                <div class="pole"><input type="text" name="topBinderConsumption" th:value="${el.topBinderConsumption}" class="vvod"></div>
                <div class="textback">кг/м2</div>
            </div>
            <div class="blok2-2">
                <div class="text">Расход связующего, подложка</div>
                <div class="pole"><input type="text" name="buttonBinderConsumption" th:value="${el.buttonBinderConsumption}" class="vvod"></div>
                <div class="textback">кг/м2</div>
            </div>
        </div>

        <div class="blok">
            <div class="blok2-1">
                <div class="text">Расход растворителя</div>
                <div class="pole"><input type="text" name="solvenConsumption" th:value="${el.solvenConsumption}" class="vvod"></div>
                <div class="textback">л/м2</div>
            </div>
        </div>

<!--Объемы тары/упаковки-->
    <div class="blok"> </div>
    <div class="blok"> </div>
    <div class="blok"><h3>Размер упаковки/тары</h3> </div>

    <div class="blok" >
        <div class="blok2-1">
            <div class="text">Праймер (грунтовка), ведро</div>
            <div class="pole"><input type="text" name="primerConsumptions" th:value="${el.primerConsumptions}" class="vvod"></div>
            <div class="textback">кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">ЭПДМ крошка, мешок</div>
            <div class="pole"><input type="text" name="EPDMConsumption" th:value="${el.EPDMConsumption}" class="vvod"></div>
            <div class="textback">кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Чёрная крошка, мешок</div>
            <div class="pole"><input type="text" name="SBRConsumption" th:value="${el.SBRConsumption}" class="vvod"></div>
            <div class="textback">кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Связующее, бочка</div>
            <div class="pole"><input type="text" name="topBinderConsumption" th:value="${el.topBinderConsumption}" class="vvod"></div>
            <div class="textback">кг</div>
        </div>
        <div class="blok2-2">
            <div class="text">Связующее, ведро</div>
            <div class="pole"><input type="text" name="buttonBinderConsumption" th:value="${el.buttonBinderConsumption}" class="vvod"></div>
            <div class="textback">кг</div>
        </div>
    </div>

    <div class="blok">
        <div class="blok2-1">
            <div class="text">Растворителя, тара</div>
            <div class="pole"><input type="text" name="solvenConsumption" th:value="${el.solvenConsumption}" class="vvod"></div>
            <div class="textback">литр</div>
        </div>
    </div>


        <div class="blok">

            <div class="buttom">
                <form action="'/home/'+ ${el.id}">
                    <button form="sitedata" > ЗАПОМНИТЬ </button>
                </form>
            </div>
        </div>

        <div class="blok"> </div><!-- calculate -->
</div>
</form>
<footer th:insert="block/footer :: footer"></footer>
</body>
</html>